<div class="col-12-top grid">
    <div class="col-4_md-12-middle md-text-center sm-text-left"> 
        <a href="/index.html"> 
            <h2 class="logo padded-l-2"> <img src="/_images/lorigien.png" </h2> 
        </a>
    </div>

    <nav class="col-8_md-12-middle text-right md-text-center hide-sm"> 
        <a href="/index.html"> Home </a>
        <a href="/about.html"> About </a>
        <a href="/bouquets.html"> Bouquets </a>
        <a href="/services.html"> Services </a>
        <a href="/shop.html"> Shop </a>
        <a class="md-padded-r-0" href="/contact.html"> Contact </a>
    </nav>

    <nav class="col-3 show-sm">
        <div class="hamburger-button"> 
            <span class="hamburger-top"></span>
            <span class="hamburger-middle"></span>
            <span class="hamburger-bottom"></span>
        </div>

        <div class="mobile-menu"> 
            <a href="/index.html"> Home </a>
            <a href="/about.html"> About </a>
            <a href="/bouquets.html"> Bouquets </a>
            <a href="/services.html"> Services </a>
            <a href="/shop.html"> Shop </a>
            <a href="/contact.html"> Contact </a>
        </div>
    </nav>
</div>
